<% if contexts %>
<div class="method_details_list">
<div class="tags">
  <h3>Specifications:</h3>
  <ul>
  <% contexts.each do |context| %>
    <% context.specifications.each do |spec| %>
      <li>
       <span class="predicate">it</span>
       <span class="<%= 'failed' if failure(spec) %>">
         <%= spec.value %>
         <%= "(FAILED - #{failure(spec).name})" if failure(spec) %>
       </span>
      
      </li>
      <div class="details">

        <!-- Source Code -->
        <div style="float: left;">
          <table class="source_code">
            <tr>
              <td>
                <pre class="lines"><%= "" %><%= h format_lines(spec) %></pre>
              </td>
              <td>
                <pre class="code"><%= "" %><%= html_syntax_highlight spec.source %></pre>
              </td>
            </tr>
            <% if failure(spec) %>
            <tr>
              <td></td>
              <td>Failure:
                <pre class="code"><%= "" %><%= html_syntax_highlight failure(spec).message.join("\n") %></pre>
              </td>
            </tr>
            <% end %>
          </table>
        </div>

        <div style="clear: both;"></div>
        
      </div>

   <% end %>
 <% end %>
 </ul>
</div>
</div>
<% end %>