<% if contexts %>
<div class="method_details_list">
<div class="tags">
  <h3>Specifications:</h3>
  <ul>
  <% contexts.each do |context| %>
    <% context.specifications.each do |spec| %>
      <li>
       <span class="predicate">it</span>
       <%= spec.value %>
       <% if failure(spec) %>
         (FAILED - <%= failure(spec).name %>)
       <% end %>
      
      </li>
      <div class="details">

        <!-- Source Code -->
        <div style="float: left;">
          <table class="source_code">
            <tr>
              <td>
                <pre class="lines"><%= "" %><%= h format_lines(spec) %></pre>
              </td>
              <td>
                <pre class="code"><%= "" %><%= html_syntax_highlight spec.source %></pre>
              </td>
            </tr>
          </table>
        </div>

        <div style="clear: both;"></div>
        
        <% if failure(spec) %>
        
        <!-- Error Message -->
        <div style="float: left;">
          <table class="source_code">
            <tr>
              <td>
                <pre class="lines"><%= "" %><%= h format_lines(failure(spec)) %></pre>
              </td>
              <td>
                <pre class="code"><%= "" %><%= html_syntax_highlight failure(spec).message.join("\n") %></pre>
              </td>
            </tr>
          </table>
        </div>

        <div style="clear: both;"></div>
        
        <% end %>
      </div>

   <% end %>
 <% end %>
 </ul>
</div>
</div>
<% end %>