<div class='context'>
  <div class='title'>
    <%= h context.value %>
  </div>
  
  <div class="meta">
    <div class="file developer"><%= h context.file %>:<%= context.line %></div>
    <div style="clear: right;"></div>
  </div>
  
  <% @row = 'odd' %>
  
  <ul class='context-specifications'>
    <% context.specifications.each do |it| %>
      <% @specification = it %>
      <li class='context-specification'><%= erb :specification %></li>
      
      <% @row = (@row == 'odd' ? 'even' : 'odd') %>
    <% end %>
  </ul>
  
  <ul class='context-subcontext'>
  <% context.subcontexts.each do |subcontext| %>
    <% @context = subcontext %>
    
    <li><%= erb :describe %></li>
    
    <% @context = subcontext.owner %>
    <% @row = (@row == 'odd' ? 'even' : 'odd') %>
  <% end %>
  </ul>
</div>