<div class='context'>
  <div class='title'>
    <span style="float:left;"><%= h context.value %></span>
    <div class="meta">
      <div class="file"><%= h context.file %>:<%= context.line %></div>
    </div>
  </div>
  
  <div style="clear: both;"></div>
  
  <% @row = 'odd' %>
  
  <ul class='context-specifications'>
    <% context.specifications.each do |it| %>
      <% @specification = it %>
      <li class='context-specification'><%= erb :specification %></li>
      
      <% @row = (@row == 'odd' ? 'even' : 'odd') %>
    <% end %>
  </ul>
  
  <ul class='context-subcontext'>
  <% context.subcontexts.each do |subcontext| %>
    <% @context = subcontext %>
    
    <li><%= erb :describe %></li>
    
    <% @context = subcontext.owner %>
    <% @row = (@row == 'odd' ? 'even' : 'odd') %>
  <% end %>
  </ul>

  
  <div class="attributes" style="display:none;">
    <input type="hidden" name="collapsed" value="false">
  </div>
  
</div>