<div>
  <div class="specification <%= row %>">
    <span class="predicate">it</span>
    <%= specification.value %>
  </div>

  <div class="details">

    <!-- Meta Information -->
    <div class="meta">
      <div class="file developer"><%= h specification.file %>:<%= specification.line %></div>
      <div style="clear: right;"></div>
    </div>

    <!-- Source Code -->
    <!-- <div class="method_details_list"> -->
    <div>
      <table class="source_code">
        <tr>
          <td>
            <pre class="lines"><%= "" %><%= h format_lines(specification) %></pre>
          </td>
          <td>
            <pre class="code"><%= "" %><%= html_syntax_highlight specification.source %></pre>
          </td>
        </tr>
      </table>
    </div>

  </div>
  
  
  <div class="attributes" style="display:none;">
    <input type="hidden" name="collapsed" value="false">
  </div>

</div>